#meuElemento { /* Ele é a caixa em questão  */
    width: 200px;
    height: 200px;
    background-color: chocolate;
}

.square {
    border-radius: 0%; /* Deixando a borda quadrada */
}

.circle {
    border-radius: 100%; /* Deixando a borda arredondada */
}